@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-text {
  color: var(--600, #718096);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  padding-block: 27px 30px;
}

.article-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  color:#718096;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

.article-link {
  color: var(--800, #2D3748);
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
}
